@import '../global/colour-palette.scss';
@import '../global/_utils.scss';
.log-card {
  font-family: 'Roboto';
  md-card-title {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .md-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  padding: 0;
  background: none;
  color: $primary-text-color;
  h2 {
    margin-top: 0;
    md-icon {
      font-size: inherit;
    }
    .heading-content {
      margin-left: 0.5em;
    }
    .heading-content,
    md-icon {
      vertical-align: top;
    }
  }
  &.error {
    border-left: solid 5px $error-color;
  }
  &.warning {
    border-left: solid 5px $warning-color;
  }
  &.info {
    border-left: solid 5px $info-color;
  }
  &.working {
    border-left: solid 5px $working-color;
  }
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.log-container {
  text-decoration: none;
  color: $primary-text-color;
  display: block;
  padding: 1em;
  min-width: 300px;
}
.log-card-and-actions {
  position: relative;
  margin-bottom: 1em;
  md-card {
    padding: 0;
  }
}
.log-actions {
  width: 100px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  [md-fab] {
    background-color: $icon-color;
    margin-top: 0.5em;
  }
  .log-action {
    @extend %round-icon-button;
    background: none;
    border: none;
    color: $icon-color;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    .material-icons {
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}
