@import '../shared/global/messaging.scss';
@import '../shared/global/utils.scss';
.logs-wrapper{
  margin: 0 $side-margin-right 0 $side-margin-left;
}
.logs {
  list-style-type: none;
  padding: 0;
  @extend %boxed-list;
}
.log-list-item{
  md-icon{
    vertical-align: middle;
  }
  @extend %link-list-item;
}
