@import '../shared/global/messaging.scss';
@import '../shared/global/utils.scss';
.logs-wrapper{
  margin: 0 $side-margin-right 0 $side-margin-left;
}
.logs {
  list-style-type: none;
  padding: 0;
  @extend %boxed-list;
  max-width:500px;
}
.log-list-item{
  background-color: $card-bg-color;
  md-icon{
    vertical-align: middle;
  }
  padding-right:1em;
  @extend %link-list-item;
}
.sub-heading-content{
    display:block;
}
.log-heading{
    display:inline-block;
}
