@import '../shared/log-info/log-info.scss';
@import '../shared/global/messaging.scss';
@import '../shared/global/utils.scss';
.copy-to-clipboard {
  md-icon {
    vertical-align: middle;
    color: $icon-color;
  }
  font-size: 14px;
}
.log-detail-wrapper,
.log-ids {
  @include module-margin();
}
.log-detail-wrapper {
  .log-container {
    padding: 0;
  }
}
md-card-content,
md-card-title {
  display: block;
  padding: 1em;
  background-color: $card-bg-color;
  margin-bottom: 1em;
}
md-card-content {
  padding-bottom: 4em;
}
.copy-helper {
  opacity: 0;
  position: absolute;
  left: -999999px;
}
.log-card {
  background: white;
}
