@import '../shared/log-info/log-info.scss';
@import '../shared/global/messaging.scss';
@import '../shared/global/utils.scss';

.copy-to-clipboard {
  md-icon {
    vertical-align: middle;
  }
  font-size: 14px;
}
.log-detail-wrapper {
  margin: 0 $side-margin-right 0 $side-margin-left;
  .log-container {
    padding: 1em 0 0;
  }
}
md-card-title {
  border: solid 1px $accent-color;
  display: block;
  padding: 1em 1em 0;
}
.log-actions {
  bottom: auto;
  top: 28px;
}
