<div *ngIf="log">
  <div class="log-card-and-actions log-detail-wrapper">
    <div class="{{log.getStatusClass()}} log-card">
      <md-card-title>
        <h2 class="md-title"><md-icon>{{log.getIcon()}}</md-icon><span class="heading-content">{{log.logUrl}}</span></h2>
      </md-card-title>
      <md-card-content>
        <span>{{log.getStatusMessage()}}</span>
        <ul>
          <li>
            <span>Name: {{log.name}}</span>
          </li>
          <li>
            <span>Operator: {{log.operator}}</span>
          </li>
          <li>
            <span>Started: {{log.started}}</span>
          </li>
          <li>
            <span>Chrome inclusion status: {{log.cis}}</span>
          </li>
          <li>
            <span><abbr title="Maximum merge delay">MMD</abbr>: {{log.mmd}}</span>
          </li>
          <li>
            <span>HTTPS supported: {{log.https}}</span>
          </li>
        </ul>
      </md-card-content>
    </div>
    <div class="log-actions">
      <a href="{{log.bugUrl}}" class="log-action">
        <md-icon>bug_report</md-icon>
      </a>
      <button md-button href="#" class="log-action">
        <md-icon>email</md-icon>
      </button>
    </div>
  </div>
  <div class="log-ids">
    <p>
      <button md-raised-button (click)="copyToClipboard('hexid')" title="copy to clipboard" class="copy-to-clipboard" aria-label="Copy to clipboard">
        <md-icon>content_copy</md-icon><span class="with-icon"> Copy HexID</span>
      </button>
      <input value="{{log.hexid}}" class="copy-helper" name="hexid" type="text">
    </p>
    <p>
      <button md-raised-button (click)="copyToClipboard('base64id')" title="copy to clipboard" class="copy-to-clipboard" aria-label="Copy to clipboard">
        <md-icon>content_copy</md-icon><span class="with-icon"> Copy Base64Id</span>
      </button>
      <input value="{{log.base64id}}" class="copy-helper" name="base64id" type="text">
    </p>
  </div>
  <line-chart-demo></line-chart-demo>
</div>
<!-- <button (click)="goBack()">Back</button> -->
