<div class="log-card-and-actions log-detail-wrapper" *ngIf="log">
  <div class="log-card">
    <div class="log-container">
      <md-card-title>
        <h2 class="{{log.getStatusClass()}} md-headline"><md-icon>{{log.getIcon()}}</md-icon><span class="heading-content">{{log.name}}</span></h2>
        <div class="log-actions">
          <a href="{{log.bugUrl}}" class="log-action">
            <md-icon>bug_report</md-icon>
          </a>
          <button md-button href="#" class="log-action">
            <md-icon>email</md-icon>
          </button>
        </div>
      </md-card-title>
      <md-card-content>
        <p>{{log.getStatusMessage()}}</p>
        <div class="log-ids">
          <p>
            <button md-button title="copy to clipboard" class="copy-to-clipboard" aria-label="Copy to clipboard">
              <md-icon>content_copy</md-icon><span class="with-icon">HexID <span>{{log.hexid}}</span></span>
            </button>
          </p>
          <p>
            <button md-button title="copy to clipboard" class="copy-to-clipboard" aria-label="Copy to clipboard">
              <md-icon>content_copy</md-icon><span class="with-icon">Base64Id <span>{{log.base64id}}</span></span>
            </button>
          </p>
        </div>
      </md-card-content>
    </div>
  </div>
</div>
<!-- <button (click)="goBack()">Back</button> -->
