<md-sidenav-layout>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <nav><a [routerLink]="['Dashboard']">Dashboard</a>
      <a [routerLink]="['Logs']">Logs</a></nav>
  </md-sidenav>

  <header class="app-header">

    <div class="header-content">
      <h1 class="md-display-1">  <button md-button class="app-icon-button" (click)="sidenav.toggle()">
          <i class="material-icons app-toolbar-menu">menu</i>
        </button><span class="with-icon">{{title}}</span></h1>
    </div>
  </header>

  <router-outlet></router-outlet>
  <message-container></message-container>
</md-sidenav-layout>
