$primary-color: #009688;
$primary-color-light: #B2DFDB;
$primary-color-text: #FFFFFF;
$accent-color: #4CAF50;
$primary-text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$error-color: #F44336;
$warning-color: #FF9800;
$info-color: $primary-color-light;
$card-hover: rgba(0, 150, 136, 0.09);
.log-card {
  padding: 0;
  background: none;
  h2 {
    margin-top: 0;
    md-icon{
      font-size: inherit;
    }
    .heading-content{
      margin-left: 0.5em;
    }
    .heading-content, md-icon{
      vertical-align: top;
    }
  }
}
.log-card-and-actions {
  position: relative;
  md-card {
    padding: 0;
  }
}
.log-link {
  text-decoration: none;
  color: $primary-text-color;
  display: block;
  padding: 1em 5.5em 1em 1em;
  &:hover {
    background-color: $card-hover;
  }
}
.copy-to-clipboard {
  background: none;
  border: 1px solid;
  padding: 5px;
}
.log-actions {
  width: 60px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  [md-fab] {
    background-color: $primary-color;
    margin-top: 0.5em;
  }
}
.error {
  color: $error-color;
}
