@import '../shared/log-info/log-info.scss';
@import '../shared/global/messaging.scss';
@import '../shared/global/utils.scss';

.log-container{
  &:hover {
    background-color: $card-hover;
  }
  &:active, &:focus{
    border:solid $divider-color 1px;
  }
}
.dashboard-wrap{
    @include module-margin();
}
md-card-content {
  margin-right: 7em;
}
