<div class="dashboard-wrap">
  <h3 class="md-headline">Active Bugs:</h3>
  <ul class="list">
    <li *ngFor="let log of logs">
      <div class="log-card-and-actions">
        <md-card>
          <div class="log-card">
            <a class="log-container" (click)="gotoDetail(log)">
              <md-card-title>
                <h2 class="{{log.getStatusClass()}} md-title"><md-icon>{{log.getIcon()}}</md-icon><span class="heading-content">{{log.logUrl}}</span></h2>
              </md-card-title>
              <md-card-content>
                <span>{{log.getStatusMessage()}}</span>
              </md-card-content>
            </a>
          </div>
        </md-card>
        <div class="log-actions">
          <a href="{{log.bugUrl}}" class="log-action">
            <md-icon>bug_report</md-icon>
          </a>
          <button md-button href="#" class="log-action">
            <md-icon>email</md-icon>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
