$primary-color-dark:   #303F9F;
$primary-color:        #455a64;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #e9eced;
$accent-color:         #009688;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$list-box-color:rgba(0,0,0,0.12);

$error-color: #db2721;
$warning-color: #ce872a;
$info-color: #0089ff;
$working-color: #0bbc87;

$side-nav-hover:#CFD8DC;
$card-hover: $side-nav-hover;

$card-bg-color: white;
