@import '../global/_utils.scss';
.app-header {
  background-color: $primary-color;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 5px 1px 18px 10px #2e3f47;
  .header-content {
    margin: 0 $side-margin-right 0 $side-margin-left;
  }
  h1 {
    margin-bottom: 0;
  }
  .md-subtitle {
    font-family: 'Roboto';
  }
  .app-toolbar-menu,
  .md-subtitle,
  h1 {
    color: $primary-color-text;
  }
  button {
    @extend %round-icon-button;
    i,
    md-icon {
      transition: all 200ms ease;
      vertical-align: middle;
    }
    &:hover {
      i,
      md-icon {
        transform: rotate(360deg);
      }
    }
  }
}
md-sidenav {
  nav {
    margin-top: 3em;
  }
  a {
    @extend %link-list-item;
    &.router-link-active {
      color: $accent-color;
    }
  }
  .app-icon {
    color: $primary-color-dark;
  }
  &.md-sidenav-opened {
    box-shadow: rgba(0, 0, 0, 0.5) 12px 0 19px !important;
  }
}
