@import '../global/_utils.scss';
.app-header {
  background-color: $primary-color;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 5px 1px 18px 10px #2e3f47;
  margin-bottom: 2em;
  .header-content {
    @include module-margin();
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  h1 {
    margin: 0 2em 0 0;
    display: inline-block;
  }
  .md-subtitle {
    font-family: 'Roboto';
  }
  .md-subtitle,
  h1 {
    color: $primary-color-text;
  }
}
nav {
  a {
    padding-top: 2px;
    padding-bottom: 2px;
    &.router-link-active {
      i {
        color: $accent-color;
      }
      color: $accent-color;
    }
  }
}
.app-toolbar-menu {
  color: $icon-color;
  vertical-align: middle;
}
@media (max-width: $mobile-max) {
  .header-button-text {
    position: absolute;
    left: -999999px;
  }
  .nav-link{
      min-width:50px;
  }
}
@media (min-width: $mobile-max) {
  .app-toolbar-menu {
    margin-right: 5px;
  }
}
