@import "colour-palette";
.error {
  md-icon {
    color: $error-color;
  }
}
.warning {
  md-icon {
    color: $warning-color;
  }
}
.info {
  md-icon {
    color: $info-color;
  }
}
.working {
  md-icon {
    color: $working-color;
  }
}
