@import '../global/_utils.scss';

%heading{
  font-family:'Roboto';
  font-weight: normal;
}

.md-display-4 {
  font-size: 60px;
}
.md-display-3 {
  @extend %heading;
  font-size: 40px;
}
.md-display-2 {
  @extend %heading;
  font-size: 30px;
}
.md-display-1 {
  @extend %heading;
  font-size: 24px;
}
.md-headline {
  @extend %heading;
  font-size: 22px;
}
.md-title {
  @extend %heading;
  font-size: 20px;
}
.md-subhead {
  @extend %heading;
  font-size: 18px;
}

@media (min-width: $mobile-max) {
  .md-display-4 {
    font-size: 112px;
  }
  .md-display-3 {
    font-size: 56px;
  }
  .md-display-2 {
    font-size: 45px;
  }
  .md-display-1 {
    font-size: 34px;
  }
  .md-headline {
    font-size: 24px;
  }
  .md-title {
    font-size: 20px;
  }
  .md-subhead {
    font-size: 16px;
  }
}

.light-header{
  color:$primary-color-text;
}
