$side-margin-left: 5em;
$side-margin-right:2em;

.with-icon {
  vertical-align: middle;
}
%round-icon-button{
  border-radius: 30px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  line-height: 16px;
}
